@import "./mixins";

.App{

    //min-max
    min-height: 700px;
    min-width: 600px;
    padding-bottom: 50px;
    
    @include wh100;
    .bookAppWrapper{
        width: 80%;
        //min-max
        min-width: 534px;
        max-width: 1000px;
        /////////
        height: 80%;
        //min-max
        min-height: 600px;
        /////////

        position: relative;
        left: 50%;
        top: 50px;
        
        transform: translateX(-50%);

        background: rgb(223, 223, 223);
        border-radius: 25px;
        border-color:rgb(77, 77, 77);
        border-width: 1px;
        border-style: solid;

        overflow-x: hidden;
    }
}
