@import "./mixins";

.bookOverview_wrapper{
    position : absolute;
    display: grid;
    grid-template-rows: 60px 30px 1fr 50px;
    background-color: rgb(248, 234, 217);

    @include w100p;
    height: calc(100% - 84px);

    left: 50%;
    transform: translateX(-50%);
    .nameWrapper{
        display: grid;
        grid-template-rows: 1fr 5px;
        position: relative;
        justify-items:center;
        justify-content: center;
        .bookName{
            text-align: center;
            line-height:30px;
            font-size: 35px;
            margin-top:auto;
        }
        .underliner{
            height: 2px;
            width: 65%;
            background: black;
            border-radius: 40%;
        }
    }
    .authorName{
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        margin-bottom:auto;
    }
    .bookDescription{
        padding: 20px 15px;
        .descriptionHeader{
            font-size: 15px;
            text-decoration: underline;
        }
        .descriptiontext{
            font-style: italic;
            font-size: 17px;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
    .button_back{
        position: relative;
        justify-self: right;
        margin-right: 20px;

        width: 100px;
        height: 35px;
        border-radius: 25px;

        cursor: pointer;
        border: 1px solid gray;
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 1px black;

        p{
            position: absolute;
            text-decoration: none;
            color: black;

            left: 50%;
            top: 55%;
            transform: translate(-50%, -50%);
        }
    }
    .button_back:hover{
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 1px black;

    }
    .button_back:active{
        background-color: rgb(231, 231, 231);
        box-shadow: 0px 0px black;
    }
}