////////////////////////////////////////////
//MIXINS//
@mixin wh100 {
    width: 100vw;
    height: 100vh;
}
@mixin w100 {
    width: 100vw;
}
@mixin h100 {
    height: 100vh;
}
@mixin wh100p {
    width: 100%;
    height: 100%;
}
@mixin w100p {
    width: 100%;
}
@mixin h100p {
    height: 100%;
}
@mixin wh50{
    width: 50vw;
    height: 50vh;
}
@mixin wh50p {
    width: 50%;
    height: 50%;
}
@mixin w50p{
    width: 50%;
}
@mixin h50p{
    height: 50%;
}
////////////////////////////////////////////