@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600&display=swap");
.App {
  min-height: 700px;
  min-width: 600px;
  padding-bottom: 50px;
  width: 100vw;
  height: 100vh;
}

.App .bookAppWrapper {
  width: 80%;
  min-width: 534px;
  max-width: 1000px;
  height: 80%;
  min-height: 686px;
  position: relative;
  left: 50%;
  top: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #dfdfdf;
  border-radius: 25px;
  border-color: #4d4d4d;
  border-width: 1px;
  border-style: solid;
  overflow-x: hidden;
  position: relative;
}

.App .bookAppWrapper .AddButton {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid gray;
  background-color: white;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
}

.App .bookAppWrapper .AddButton svg {
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.App .bookAppWrapper .AddButton:hover {
  background-color: white;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
}

.App .bookAppWrapper .AddButton:active {
  background-color: #e7e7e7;
  -webkit-box-shadow: 0px 0px black;
          box-shadow: 0px 0px black;
}

.BookLi {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr 100px;
      grid-template-columns: 200px 1fr 100px;
  padding: 0px 10px;
  background: rgba(240, 240, 240, 0.884);
  -webkit-box-shadow: 0px 0px 10px 2px #bbbbbb inset;
          box-shadow: 0px 0px 10px 2px #bbbbbb inset;
  border: 1px solid #a3a3a3;
}

.BookLi .bookName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.BookLi .bookAuthor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.BookLi .controlArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.BookLi .controlArea .button_remove, .BookLi .controlArea .button_edit, .BookLi .controlArea .button_show {
  cursor: pointer;
  height: 80%;
  max-height: 18px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 25px;
  margin: 0px 5px;
  background-color: white;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
  position: relative;
}

.BookLi .controlArea .button_remove .layer, .BookLi .controlArea .button_edit .layer, .BookLi .controlArea .button_show .layer {
  width: 100%;
  height: 100%;
  z-index: 800;
  background: transparent;
  position: relative;
}

.BookLi .controlArea .button_remove .layer svg, .BookLi .controlArea .button_edit .layer svg, .BookLi .controlArea .button_show .layer svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 95%;
  width: 23px;
}

.BookLi .controlArea .button_remove .layer img, .BookLi .controlArea .button_edit .layer img, .BookLi .controlArea .button_show .layer img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 70%;
}

.BookLi .controlArea .button_remove:hover, .BookLi .controlArea .button_edit:hover, .BookLi .controlArea .button_show:hover {
  background-color: white;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
}

.BookLi .controlArea .button_remove:active, .BookLi .controlArea .button_edit:active, .BookLi .controlArea .button_show:active {
  background-color: #e7e7e7;
  -webkit-box-shadow: 0px 0px black;
          box-shadow: 0px 0px black;
}

.BookList_section {
  width: 100%;
  padding: 0px;
  list-style: none;
}

.BookListMenu {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80px;
      grid-template-rows: 80px;
  background: #e2e2e2;
  border-radius: 25px 25px 0px 0px;
  border: 2px solid #7a7a7a;
  -webkit-box-shadow: inset 7px -4px 41px 7px rgba(0, 0, 0, 0.28);
          box-shadow: inset 7px -4px 41px 7px rgba(0, 0, 0, 0.28);
  position: relative;
}

.BookListMenu .logoWrapper {
  height: 100%;
}

.BookListMenu .logoWrapper .Logo {
  height: 100%;
  width: 50px;
  margin-left: 20px;
}

.BookListMenu .finderWrapper {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.BookListMenu .finderWrapper .textInput {
  border: 1px solid rgba(16, 17, 19, 0.212);
  -webkit-box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
          box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  border-radius: 6px 0px 0px 6px;
  padding-left: 10px;
  font-size: 18px;
  width: 150px;
}

.BookListMenu .finderWrapper #options {
  cursor: pointer;
  width: 60px;
  border: 1px solid rgba(16, 17, 19, 0.212);
  border-radius: 0px 6px 6px 0px;
}

.BookListMenu .finderWrapper .submitButton {
  width: 80px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #FAFBFC;
  border: 1px solid rgba(16, 17, 19, 0.212);
  border-radius: 6px;
  -webkit-box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
          box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  color: #24292E;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  word-wrap: break-word;
}

.BookListMenu .finderWrapper .submitButton:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.BookListMenu .finderWrapper .submitButton:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.BookListMenu .finderWrapper .submitButton:active {
  background-color: #EDEFF2;
  -webkit-box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
          box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  -webkit-transition: none 0s;
  transition: none 0s;
}

.BookListMenu .finderWrapper .submitButton:focus {
  outline: 1px transparent;
}

.BookListMenu .finderWrapper .submitButton:before {
  display: none;
}

.BookListMenu .finderWrapper .submitButton:-webkit-details-marker {
  display: none;
}

.refreshSection {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.refreshSection .refreshText {
  margin-top: 10px;
  margin-bottom: 5px;
}

.refreshSection .refreshButton {
  width: 100px;
  height: 35px;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid gray;
  background-color: white;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
}

.refreshSection .refreshButton:hover {
  background-color: white;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
}

.refreshSection .refreshButton:active {
  background-color: #e7e7e7;
  -webkit-box-shadow: 0px 0px black;
          box-shadow: 0px 0px black;
}

.bookOverview_wrapper {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20px 60px 30px 1fr 50px;
      grid-template-rows: 20px 60px 30px 1fr 50px;
  background-color: #f8ead9;
  width: 100%;
  height: calc(100% - 84px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bookOverview_wrapper .idValue {
  display: block;
  margin-left: auto;
  margin-right: 15px;
  margin-top: 8px;
}

.bookOverview_wrapper .nameWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5px;
      grid-template-rows: 1fr 5px;
  position: relative;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bookOverview_wrapper .nameWrapper .bookName {
  text-align: center;
  line-height: 30px;
  font-size: 35px;
  margin-top: auto;
}

.bookOverview_wrapper .nameWrapper .underliner {
  height: 2px;
  width: 65%;
  background: black;
  border-radius: 40%;
}

.bookOverview_wrapper .authorName {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: auto;
}

.bookOverview_wrapper .bookDescription {
  padding: 20px 15px;
}

.bookOverview_wrapper .bookDescription .descriptionHeader {
  font-size: 15px;
  text-decoration: underline;
}

.bookOverview_wrapper .bookDescription .descriptiontext {
  font-style: italic;
  font-size: 17px;
  overflow-x: hidden;
  overflow-y: auto;
}

.bookOverview_wrapper .button_back {
  position: relative;
  -ms-grid-column-align: right;
      justify-self: right;
  margin-right: 20px;
  width: 100px;
  height: 35px;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid gray;
  background-color: white;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
}

.bookOverview_wrapper .button_back p {
  position: absolute;
  text-decoration: none;
  color: black;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bookOverview_wrapper .button_back:hover {
  background-color: white;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
}

.bookOverview_wrapper .button_back:active {
  background-color: #e7e7e7;
  -webkit-box-shadow: 0px 0px black;
          box-shadow: 0px 0px black;
}

.background-white {
  background: white;
}

.background-transparent {
  background: transparent;
}

.bookEdit_wrapper {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 30px 1fr 50px;
      grid-template-rows: 60px 30px 1fr 50px;
  background-color: #f8ead9;
  width: 100%;
  height: calc(100% - 86px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bookEdit_wrapper .headerWrapper {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 0px 20px;
}

.bookEdit_wrapper .headerWrapper .editNameWrapper {
  margin-top: auto;
  margin-bottom: 3px;
}

.bookEdit_wrapper .headerWrapper .editNameWrapper .editName {
  margin-top: auto;
  line-height: 35px;
  font-size: 35px;
  border-radius: 5px;
  padding: 2px 15px;
}

.bookEdit_wrapper .headerWrapper #edit_underliner {
  height: 2px;
  width: 60px;
  background: black;
  border-radius: 40%;
  margin-bottom: auto;
}

.bookEdit_wrapper .editAuthorWrapper {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 0px 20px;
}

.bookEdit_wrapper .editAuthorWrapper .editAuthor {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: auto;
  border-radius: 5px;
  padding: 2px 15px;
}

.bookEdit_wrapper .editDescriptionWrapper {
  display: block;
  position: relative;
  justify-items: center;
  padding: 0px 20px;
  padding-bottom: 20px;
}

.bookEdit_wrapper .editDescriptionWrapper .descriptionHeader {
  margin-top: 30px;
  font-size: 15px;
  text-decoration: underline;
}

.bookEdit_wrapper .editDescriptionWrapper .editDescription {
  font-style: italic;
  font-size: 17px;
  padding: 10px 20px;
  border-radius: 5px;
}

.bookEdit_wrapper .buttonSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bookEdit_wrapper .buttonSection .button_back_edit, .bookEdit_wrapper .buttonSection .confirm_edit {
  position: relative;
  width: 100px;
  height: 35px;
  border-radius: 25px;
  margin: 0px 10px;
  cursor: pointer;
  border: 1px solid gray;
  background-color: white;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
}

.bookEdit_wrapper .buttonSection .button_back_edit p, .bookEdit_wrapper .buttonSection .confirm_edit p {
  position: absolute;
  text-decoration: none;
  color: black;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bookEdit_wrapper .buttonSection .button_back_edit:hover, .bookEdit_wrapper .buttonSection .confirm_edit:hover {
  background-color: white;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
}

.bookEdit_wrapper .buttonSection .button_back_edit:active, .bookEdit_wrapper .buttonSection .confirm_edit:active {
  background-color: #e7e7e7;
  -webkit-box-shadow: 0px 0px black;
          box-shadow: 0px 0px black;
}

.bookAddSection {
  width: 100%;
  position: absolute;
  background-color: #f8ead9;
  top: 84px;
  height: calc(100% - 84px);
  min-height: 571px;
  max-height: 800px;
  padding: 40px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50%;
      grid-template-columns: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bookAddSection .addBookHeader {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

.bookAddSection .bookNameWrapper {
  display: block;
  position: relative;
  width: 100%;
}

.bookAddSection .bookNameWrapper .bookNameLabel {
  font-size: 25px;
  text-decoration: underline;
}

.bookAddSection .bookNameWrapper .bookNameInput {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
}

.bookAddSection .authorNameWrapper {
  display: block;
}

.bookAddSection .authorNameWrapper .bookAuthorLabel {
  font-size: 25px;
  text-decoration: underline;
}

.bookAddSection .authorNameWrapper .bookAuthorInput {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
}

.bookAddSection .descriptionWrapper {
  display: block;
}

.bookAddSection .descriptionWrapper .descriptionLabel {
  font-size: 25px;
  text-decoration: underline;
}

.bookAddSection .descriptionWrapper .descriptionInput {
  width: 100%;
  height: 100px;
  resize: none;
  overflow-x: hidden;
  border-color: black;
  padding-left: 15px;
  padding-right: 15px;
}

.bookAddSection .add_submit {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 120px;
  height: 50px;
  border-radius: 25px;
  margin: 0px 10px;
  cursor: pointer;
  border: 1px solid gray;
  background-color: white;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
}

.bookAddSection .add_submit:hover {
  background-color: white;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
}

.bookAddSection .add_submit:active {
  background-color: #e7e7e7;
  -webkit-box-shadow: 0px 0px black;
          box-shadow: 0px 0px black;
}

* {
  margin: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Teko', sans-serif;
  font-size: 18px;
}

body #root {
  margin: 0px;
  outline: none;
  width: 100vw;
  height: 100vh;
}
/*# sourceMappingURL=index.css.map */