@import "./App";
@import "./Book";
@import "./BookList";
@import "./BookListMenu";
@import "./RefreshSection";
@import "./BoookOverview";
@import "./BookEditSection";
@import "./mixins";

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600&display=swap');

* {
  margin: 0px;
  outline: none;
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
  font-size: 18px;
}
body {

  #root{
    margin: 0px;
    outline: none;
    @include wh100;
}
}
